@import "tailwindcss";

:root {
  color-scheme: dark;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* html {
  @apply bg-gray-950 text-white transition-colors;
}

/* html.light {
  @apply bg-gray-100 text-gray-900;
} 
*/
/* html {
  @apply bg-gray-950 text-gray-100;
}

html.light {
  @apply bg-white text-gray-900;
} */